.submissions-container {
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 90%;
    text-align: left;
    @media (max-width: 767px) {
        width: 90%;
    }
    .submission {
    display: flex;
    border: 5px solid #DDD;
    flex-flow: column;
    padding: 2rem;
    }
    h1 {
    margin: 0rem;
    line-height: 1.2;
    font-weight: normal;
    }
    p {
        margin: 0.6em 0 2rem;
    }
    img {
        display: block;
        max-width: 100%;
        height: auto;
    }
}