.submissions-container {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-gap: 2rem;
    font-family: Avenir, Roboto, Helvetica, san-serif;
    font-size: 90%;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    @media (max-width: 767px) {
        width: 90%;
    }
    .submission {
    display: flex;
    border: 5px solid #DDD;
    flex-flow: column;
    padding: 2rem;
    }
    h1 {
    font-family: 'Sanchez Slab W03', Courier, serif;
    margin: 0rem;
    line-height: 1.2;
    font-weight: normal;
    }
    
    img, 
    object {
        display: block;
        max-width: 100%;
        height: auto;
    }
}